{% extends  'main.twig' %}

{% block body %}
    <!-- content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-download fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ total.tools.tool }}</div>
                                <div>Parsers!</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ asset_url('tools') }}">
                        <div class="panel-footer">
                            <span class="pull-left">More</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-upload fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ total.tools.importer }}</div>
                                <div>Importers!</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ asset_url('importers') }}">
                        <div class="panel-footer">
                            <span class="pull-left">More</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ total.product }}</div>
                                <div>Products!</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ asset_url('#product') }}">
                        <div class="panel-footer">
                            <span class="pull-left">More</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-globe fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ total.proxy }}</div>
                                <div>Proxy!</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ asset_url('proxy') }}">
                        <div class="panel-footer">
                            <span class="pull-left">More</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr/>
        <div class="row">
            <div class="panel col-lg-3 ">
                <p class="list-group-item">
                    <i class="fa fa-database fa-fw"></i> Database size:
                    <span class="pull-right text-muted small">
                        <em>{{ total.db }}</em>
                    </span>
                </p>
                <p class="list-group-item">
                    <i class="fa fa-hdd-o fa-fw"></i> HDD size:
                    <span class="pull-right text-muted small">
                        <em>{{ total.hdd.total }}</em>
                    </span>
                </p>
                <p class="list-group-item">
                    <i class="fa fa-hdd-o fa-fw"></i> HDD free space:
                    <span class="pull-right text-muted small">
                        <em> {{ total.hdd.free }}</em>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    <!-- /content -->
{% endblock %}